div#container
{
   width: 1000px;
   position: relative;
   margin-top: 0px;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
   background-color:ffffff;
   z-index:0;


}


body
{
   text-align: center;
   margin: 0;
   background:#000000;

}

html {
overflow-y: scroll;
}

a{text-decoration:none}





#tabla_centrar{
   padding: 70px 20px 0px 20px;
}

#tabla_centrar2{
   padding: 10px 20px 0px 20px;
}


#tabla_pie_pagina{
margin: auto;
height: auto;
min-height:100px;
}

#tabla_pie_pagina:after{
width: 100%;
height:250px;
display:block;
clear:both;
}



#separador{
   padding: 0px 0px 20px 0px;
}


#separador1{
   padding: 0px 0px 100px 0px;
   clear: both;
}



#titulo_1{
   font-family: Arial, Helvetica, sans-serif;
   font-size:18px;
   color:#2e3191;
   font-weight: bold;
   padding: 5px 0px 10px 0px;
}

#titulo_2{
color:#2e3191;
font-family: Arial, Helvetica, sans-serif;
padding: 0px;
font-weight: bold;
font-size: 14px;
line-height: 150%;
}

#titulo_3{
   font-family: Arial, Helvetica, sans-serif;
   font-size:12px;
   color:#2e3191;
   font-weight: bold;
   padding: 0px 5px 5px 5px;
}

#titulo_4{
   font-family: Arial, Helvetica, sans-serif;
   font-size:10px;
   color:#2e3191;
   font-weight: bold;
   padding: 0px 5px 5px 5px;
}


#titulo_5{
   font-family: Arial, Helvetica, sans-serif;
   font-size:12px;
   color:#00000;
   font-weight: normal;
   padding: 8px 5px 8px 5px;
}


#titulo_6{
   font-family: Arial, Helvetica, sans-serif;
   font-size:10px;
   color:#00000;
   font-weight: normal;
   padding: 0px 5px 0px 5px;
}

#titulo_7{
   font-family: Arial, Helvetica, sans-serif;
   font-size:12px;
   color:#00000;
   font-weight: normal;
padding: 3px 5px 3px 5px;
}

#titulo_8{
   font-family: Arial, Helvetica, sans-serif;
   font-size:9px;
   color:#2e3191;
   font-weight: normal;
   padding: 0px 0px 0px 0px;
}

#titulo_9{
   font-family: Arial, Helvetica, sans-serif;
   font-size:12px;
   color:#00000;
   font-weight: bold;
   padding: 2px 5px 0px 5px;
}

#enlaces{
text-decoration: none;
color: #3B5998;
font-family: Arial, Helvetica, sans-serif;
padding: 4px;
font-size: 12px;

}
#enlaces a{
text-decoration: none;
color: #3B5998;
}

#enlaces .activo{
text-decoration: none;
color: #ff0000;
}

#enlaces a:hover{
text-decoration: none;
color: #DF1602;
}


#enlaces_archivo{
text-decoration: none;
   color:#2e3191;
font-family: Arial, Helvetica, sans-serif;
padding: 4px;
font-size: 12px;

}
#enlaces_archivo a{
text-decoration: underline;
color: #ff0000;

}


#enlaces_archivo a:hover{
text-decoration: underline;
color: #c0c0c0;
}

.background1 {
background-color:#d6d9ff;

}

.background2 {
background-color:#ebecff;
}

#cabecera_tabla{
color: #ffffff;
font-family: Arial, Helvetica, sans-serif;
padding: 8px 5px 8px 5px;
font-size: 12px;
}

.borde_tabla {
  border: 1px solid #9395af;
  border-collapse: collapse;
}

.borde_tabla th, .borde_tabla td {
  border: 1px solid #9395af;
border-collapse: collapse;
}

.borde_tabla th {
background:#2e3191;
}

.borde_tabla tr:hover {
background-color:#fdffc0;
}




/*FORMULARIOS*/

#formulario{
background-color:#E6E6FA;
border-style:solid;
border-width:1px;
border-color: #2e3191;
padding: 10px 30px 10px 30px;
}

#formulario_amarillo{
background-color:#fff97e;
border: 1px solid #2e3191;
padding: 10px 30px 10px 30px;
}

#formulario_borde {
border: 1px solid #2e3191;
padding: 10px 30px 10px 30px;
}

.formulario_borde2 {
border: 1px solid #2e3191;
padding: 0px 5px 0px 5px;

}




#titulo_campo_texto{
color:#2e3191;
font-family: Arial, Helvetica, sans-serif;
padding: 0px;
font-weight: normal;
font-size: 12px;
line-height: 150%;
}
#titulo_campo_texto u{
color:#ff0000;
}

#titulo_campo_texto2{
color:#2e3191;
font-family: Arial, Helvetica, sans-serif;
padding: 0px 0px 0px 10px;
font-weight: normal;
font-size: 12px;
line-height: 150%;
}
#titulo_campo_texto3{
color:#2e3191;
font-family: Arial, Helvetica, sans-serif;
padding: 2px 3px 0px 3px;
font-weight: normal;
font-size: 12px;
}
#titulo_campo_texto4{
color:#2e3191;
font-family: Arial, Helvetica, sans-serif;
padding: 0px 3px 0px 3px;
font-weight: normal;
font-size: 12px;
line-height: 150%;
}



#campo_input{
color:#2e3191;
font-family: Arial, Helvetica, sans-serif;
padding: 0px 0px 10px 0px;
font-weight: normal;
font-size: 12px;
line-height: 150%;
}

#campo_input li{

	padding: 0px 0px 5px 20px;
	
	}

#campo_input2{
color:#2e3191;
font-family: Arial, Helvetica, sans-serif;
padding: 0px 0px 0px 10px;
font-weight: normal;
font-size: 12px;
line-height: 150%;
}

#campo_input3{
color:#2e3191;
font-family: Arial, Helvetica, sans-serif;
padding: 0px 0px 10px 0px;
font-weight: normal;
font-size: 12px;
vertical-align: middle;
}

.borde { border-style: solid;
   border-width: 1px;
   border-color: #7F7F7F;
   background-color: #E6E6FA;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 11pt;
 text-decoration:none;
  color:#ff0000;
   padding: 2px 2px 2px 2px;
}

#numeracion{
   color:#c0c0c0;
   padding: 5px 25px 5px 5px;
   color:#000000;
}

#numeracion a{
    color:#c0c0c0;
   text-decoration:none;
}
#numeracion a:hover{
    color:#ff0000;
   text-decoration:none;
}


#pie_pagina_div{
padding: 0px 0px 0px 0px;
color:#000000;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 14px;

}

.blur{
  
   color: inherit;
   margin-left: 4px;
   margin-top: 4px;
    
}

.shadow,
.content{
   position: relative;
   bottom: 2px;
   right: 2px;
   overflow: hidden;
}

.shadow{
   background-color: #666; /*shadow color*/
   color: inherit;
}

.content{
   background-color: #fff; /*background color of content*/
   color: #000; /*text color of content*/
   border: 1px solid #000000; /*border color*/
   padding: .5em 2ex; 
   min-height: 650px;
  height: auto !important;
  height: 650px;

}

.flotar_izquierda{float: left;}
.flotar_derecha{ float: right;}

#cabecera_formulario {
	color: #ffffff;
font-family: Arial, Helvetica, sans-serif;
padding: 8px 5px 8px 5px;
margin-bottom: 0px;
font-size: 12px;
background:#2e3191;
}



#listado_titulo {
	color: #2e3191;
font-family: Arial, Helvetica, sans-serif;
padding: 3px 5px 3px 5px;
font-size: 12px;
font-weight: bold;
}

.registro_listado_titulo {
color: #2e3191;
font-family: Arial, Helvetica, sans-serif;
padding: 3px 5px 3px 5px;
font-size: 12px;
font-weight:normal;
}


/*RSS*/
/** noticias inicio **/
/** contenedor mas noticias **/
#enlaces_rss{
text-decoration: none;
color: #3B5998;
font-family: Arial, Helvetica, sans-serif;
padding: 0px 0 0 0;
font-size: 12px;

}
#enlaces_rss a{
text-decoration: none;
color: #0000ff;
}

#enlaces_rss a:hover{
text-decoration: underline;
color: #DF1602;
}

#enlaces_rss_todas{
text-decoration: none;
color: #ffffff;
font-family: Arial, Helvetica, sans-serif;
padding: 0px 0 0 0;
font-size: 14px;

}
#enlaces_rss_todas a{
text-decoration: none;
color: #ffffff;
}

#enlaces_rss_todas a:hover{
text-decoration: underline;
color: #C0C0C0;
}
	#titulo_modulo4{
   font-family: Arial, Helvetica, sans-serif;
   font-size:16px;
   color:#ffffff;
   padding: 5px;
   background:#c0c0c0;
    display:block;
}
.crsl-item {
  background: #fdfdfd;
  padding: 8px;
   margin: 4px 0px 4px 0px;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,1);
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,1);
  box-shadow: 0 2px 3px rgba(0,0,0,0.4);
  font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
}


/** fecha **/

.crsl-item .postdate {
  display:inline-block;
  padding: 6px;
     margin: 0px 0px 7px 0px;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
  font-size: 12px;
  font-weight: bold;
  background: #4e90da;
  text-align: left;

}



/** leer mas **/

.crsl-item p.readmore a {
  display: block;
  float: right;
  color: #4e90da;
  bottom: 0;
  padding: 3px 5px;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-border-radius: 3px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
}


.crsl-item p.readmore a:hover {
  background: #4b6caa;
  color: #fff;
}

/** titulo **/
.crsl-item h3 {
font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-bottom: 12px;
  color:#3B5998;
  padding: 10px 0px 5px 0px;
}
.crsl-item h3 a {
  text-decoration: none;
  color:#3B5998;
}
.crsl-item h3 a:hover {
  text-decoration: underline;
}

.clear_clase {
	padding-top: 10px;
  clear: both;
} 
/** hasta aqui noticias inicio **/

.crsl-item_edutictac {
  background: #fdfdfd;
  padding: 8px;
   margin: 4px 0px 4px 0px;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,1);
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,1);
  box-shadow: 0 2px 3px rgba(0,0,0,0.4);
  font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
}

/** fecha **/

.crsl-item_edutictac .postdate {
  display:inline-block;
  padding: 6px;
     margin: 0px 0px 7px 0px;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
  font-size: 12px;
  font-weight: bold;
  background: #4e90da;
  text-align: left;

}



/** leer mas **/

.crsl-item_edutictac p.readmore a {
  display: block;
  float: right;
  color: #4e90da;
  bottom: 0;
  padding: 3px 5px;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-border-radius: 3px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
}


.crsl-item_edutictac p.readmore a:hover {
  background: #4b6caa;
  color: #fff;
}

/** titulo **/
.crsl-item_edutictac h3 {
font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-bottom: 12px;
  color:#3B5998;
  padding: 10px 0px 5px 0px;
}
.crsl-item_edutictac h3 a {
  text-decoration: none;
  color:#3B5998;
}
.crsl-item_edutictac h3 a:hover {
  text-decoration: underline;
}


#cabecera_logo{display:none;}


#asistentes_acta{
color:#000000;
font-family: Arial, Helvetica, sans-serif;
margin-right: 20px;
margin-bottom: 0px;
font-weight: normal;
font-size: 10px;

}

#asistentes{
 border-right: 1px solid #000000;
 margin-right: 10px;
 margin-left: 10px;

}

#texto_logo_izq{
color:#000000;
font-family: Arial, Helvetica, sans-serif;
padding: 0px;
font-weight: normal;
font-size: 10px;
line-height: 200%;

}

#texto_logo_der{
color:#000000;
font-family: Arial, Helvetica, sans-serif;
padding: 0px;
font-weight: normal;
font-size: 10px;

}

#texto_acta{
color:#000000;
font-family: Arial, Helvetica, sans-serif;
margin-bottom: 10px;
font-weight: normal;
font-size: 13px;
line-height: 150%;

}

.subrayado
{
	margin-top: 15px;
	text-decoration: underline;
}
