Options +FollowSymLinks
RewriteEngine on

#redireccion a navegacion segura
#RewriteCond %{SERVER_PORT} 80
#RewriteRule ^(.*)$ https://127.0.0.1/secretictac/$1 [R,L]

#set max upload file size
php_value upload_max_filesize 10M
#set max post size
php_value post_max_size 10M





Rewriterule ^camb_contra$ secretictac/nueva_contrasenya.php
Rewriterule ^comprobar_usuario$ secretictac/verifica.php
Rewriterule ^cambiar_contrasenya$ secretictac/cambio_contrasenya.php
Rewriterule ^actualizar_contrasenya_inicial$ secretictac/actualizar_contrasenya2.php
Rewriterule ^guardar_nueva_contra$ secretictac/actualizar_nueva_contrasenya.php


#ADMINISTRADOR
Rewriterule ^tipo_permisos$ secretictac/administrador/tipo_permisos/tipo_permisos.php
Rewriterule ^tipo_permiso_editar/(.*)$ secretictac/administrador/tipo_permisos/tipo_permisos.php?id_tipo=$1
Rewriterule ^borrar_tipo/(.*)$ secretictac/administrador/tipo_permisos/borrar_tipo.php?id_tipo=$1
Rewriterule ^upload_tipo_permisos$ secretictac/administrador/tipo_permisos/upload_tipo_permisos.php


Rewriterule ^elegir_permiso$ secretictac/administrador/permisos/permisos_elegir.php
Rewriterule ^modifi_permisos_usu$ secretictac/administrador/permisos/permisos_editar.php
Rewriterule ^upload_permisos_usuarios$ secretictac/administrador/permisos/actualizar_permisos.php

Rewriterule ^crear_usuario$ secretictac/administrador/usuarios/crear_usuarios.php
Rewriterule ^crear_usuario/(.*)$ secretictac/administrador/usuarios/crear_usuarios.php?usuario=$1
Rewriterule ^borrar_usuario/(.*)$ secretictac/administrador/usuarios/borrar_usuario.php?usuario=$1
Rewriterule ^upload_usuarios$ secretictac/administrador/usuarios/upload_usuarios.php


Rewriterule ^definir_centro$ secretictac/administrador/datos_centro/datos_centro.php
Rewriterule ^imagen_logo_centro/(.*)/(.*)$ secretictac/archivos/datos_centro/$1/$2
Rewriterule ^imagen_logo_conse/(.*)/(.*)$ secretictac/archivos/datos_centro/$1/$2
Rewriterule ^guardar_dat_centro$ secretictac/administrador/datos_centro/upload_datos_centro.php
Rewriterule ^vista_previa$ secretictac/administrador/datos_centro/vista_previa.php


#DOCUMENTOS COMPARTIDOS

Rewriterule ^registro_archivos/(.*)$ secretictac/compartir_documentos/directorio.php?nodo_padre=$1
Rewriterule ^dtree.css$ secretictac/compartir_documentos/dtree.css
Rewriterule ^dtree.js$ secretictac/compartir_documentos/dtree.js
Rewriterule ^img/(.*)$ secretictac/compartir_documentos/img/$1
Rewriterule ^link_doc_comp/(.*)$ secretictac/archivos/compartidos/$1
Rewriterule ^guardar_documento_compartido$ secretictac/compartir_documentos/upload_directorio.php
Rewriterule ^modificar_documentos$ secretictac/compartir_documentos/modificar_documentos.php
Rewriterule ^modificar_documento_form/(.*)$ secretictac/compartir_documentos/modificar_documentos_form.php?id_documentos=$1
Rewriterule ^img_borrar$ secretictac/compartir_documentos/borrar.jpg
Rewriterule ^img_volver$ secretictac/compartir_documentos/icono_volver.gif
Rewriterule ^img_mover$ secretictac/compartir_documentos/mover.jpg
Rewriterule ^img_carpeta$ secretictac/compartir_documentos/img/folder.gif
Rewriterule ^img_archivo$ secretictac/compartir_documentos/img/page.gif
Rewriterule ^borrar_doc_compar/(.*)$ secretictac/compartir_documentos/borrar_doc_compar.php?id_documentos=$1
Rewriterule ^guar_docu_comp_editado$ secretictac/compartir_documentos/upload_documento_editado.php
Rewriterule ^mover_doc_compar/(.*)&(.*)$ secretictac/compartir_documentos/mover_doc_compar.php?id_documentos=$1&id_nuevo_padre=$2
Rewriterule ^guardar_mover_doc$ secretictac/compartir_documentos/upload_mover_doc.php


#REGISTRO
Rewriterule ^registro_entrada/(.*)$ secretictac/registro/entrada.php?tipo_registro=$1
Rewriterule ^upload_entrada$ secretictac/registro/upload_entrada.php
Rewriterule ^registro_entrada_guar/(.*)/(.*)$ secretictac/registro/entrada.php?id_registro=$1&tipo_registro=$2
Rewriterule ^registro_entrada_tipo/(.*)/(.*)$ secretictac/registro/entrada.php?id_registro=$1&id_tipo_tipodoc=$2
Rewriterule ^registro_entrada_origen/(.*)/(.*)$ secretictac/registro/entrada.php?id_registro=$1&id_tipo_origen=$2
Rewriterule ^registro_entrada_organismo/(.*)/(.*)$ secretictac/registro/entrada.php?id_registro=$1&id_tipo_organismo=$2
Rewriterule ^registro_entrada_destino/(.*)/(.*)$ secretictac/registro/entrada.php?id_registro=$1&id_tipo_destino=$2
Rewriterule ^pop_up_tipo/(.*)/(.*)/(.*)$ secretictac/registro/poppup_tipo_documento.php?id_registro=$1&tipo=$2&tipo_registro=$3
Rewriterule ^upload_popup_tipo_doc$ secretictac/registro/upload_popup_tipo_doc.php
Rewriterule ^link_doc_registro/(.*)$ secretictac/archivos/registro/$1
#Rewriterule ^listado/(.*)/(.*)$ secretictac/registro/listado.php?anyo=$1&tipo_registro=$2
#Rewriterule ^listado/(.*)&(.*)$ secretictac/registro/listado.php?anyo=$1&tipo_registro=$2
Rewriterule ^adjunto_remito/(.*)/(.*)/(.*)$ secretictac/registro/adjunto_remito.php?codigo=$1&asunto=$2&fecha=$3
Rewriterule ^adjunto_remito$ secretictac/registro/adjunto_remito.php

#IMPRIMIR LIBROS
Rewriterule ^imprimir_libros$ secretictac/registro/libros_registro.php
Rewriterule ^impreso_registro$ secretictac/registro/impreso_registro.php

#MANTENIMIENTO ORGANOS DESTINOS
Rewriterule ^mantenimiento$ secretictac/registro/mantenimiento.php
Rewriterule ^mantenimiento/(.*)$ secretictac/registro/mantenimiento.php?seleccion=$1
Rewriterule ^mantenimiento_1/(.*)/(.*)/(.*)$ secretictac/registro/mantenimiento.php?id_nombre=$1&seleccion=$2&tabla=$3
Rewriterule ^upload_mantenimiento$ secretictac/registro/upload_mantenimiento.php
Rewriterule ^borrar_mantenimiento/(.*)/(.*)/(.*)$ secretictac/registro/borrar_mantenimiento.php?id_nombre=$1&seleccion=$2&tabla=$3

#ACTAS
Rewriterule ^tipo_asistentes$ secretictac/actas/tipo_asistentes.php
Rewriterule ^tipo_asistentes/(.*)$ secretictac/actas/tipo_asistentes.php?id_tipo=$1
Rewriterule ^borrar_tipo_asistentes/(.*)$ secretictac/actas/borrar_tipo_asistentes.php?id_tipo=$1
Rewriterule ^upload_tipo_asistente$ secretictac/actas/upload_tipo_asistente.php
Rewriterule ^tipo_actas$ secretictac/actas/tipo_acta.php
Rewriterule ^tipo_acta/(.*)$ secretictac/actas/tipo_acta.php?id_tipo=$1
Rewriterule ^borrar_tipo_acta/(.*)$ secretictac/actas/borrar_tipo_acta.php?id_tipo=$1
Rewriterule ^upload_tipo_acta$ secretictac/actas/upload_tipo_acta.php
Rewriterule ^importar_asistentes$ secretictac/actas/importar_usuarios.php
Rewriterule ^importar_asistentes/(.*)/(.*)$ secretictac/actas/importar_usuarios.php?id_asistentes=$1&tipo_acta=$2
Rewriterule ^importar_asistentes/(.*)$ secretictac/actas/importar_usuarios.php?tipo_acta=$1
Rewriterule ^borrar_asistentes/(.*)/(.*)$ secretictac/actas/borrar_asistente.php?id_asistentes=$1&tipo_acta=$2
Rewriterule ^upload_importar_asistentes$ secretictac/actas/upload_importar_asistentes.php
Rewriterule ^upload_asistente_ne$ secretictac/actas/upload_edi_crear_asistentes.php
Rewriterule ^actas_firmas$ secretictac/actas/firmas.php
Rewriterule ^upload_tipo_firma$ secretictac/actas/upload_tipo_firma.php
Rewriterule ^borrar_firmantes/(.*)$ secretictac/actas/borrar_firmas.php?id_firma=$1
Rewriterule ^redactar_actas$ secretictac/actas/nueva_acta.php
Rewriterule ^upload_acta$ secretictac/actas/upload_acta.php
Rewriterule ^redactar_actas/(.*)/(.*)/(.*)$ secretictac/actas/nueva_acta.php?tipo_acta=$1&id_acta=$2&div_seleccionado=$3
Rewriterule ^vista_previa/(.*)/(.*)/(.*)$ secretictac/actas/vista_previa.php?tipo_acta=$1&id_acta=$2&div_seleccionado=$3
Rewriterule ^borrar_antiguo_miembro/(.*)/(.*)/(.*)$ secretictac/actas/borrar_antiguo_miembro.php?tipo_acta=$1&id_acta=$2&id_asistente=$3
Rewriterule ^permisos_ver_acta$ secretictac/actas/permisos.php
Rewriterule ^upload_permisos_actas$ secretictac/actas/upload_permisos_actas.php
Rewriterule ^borrar_permiso_actas/(.*)$ secretictac/actas/borrar_permiso.php?id_permiso=$1
Rewriterule ^editar_actas$ secretictac/actas/editar_actes.php
Rewriterule ^editar_actas/(.*)/(.*)$ secretictac/actas/editar_actes.php?anyo=$1&tipo_acta=$2
Rewriterule ^vista_previa_editar/(.*)/(.*)/(.*)/(.*)$ secretictac/actas/vista_previa.php?tipo_acta=$1&id_acta=$2&anyo=$3&div_seleccionado=$4
Rewriterule ^busqueda_actas$ secretictac/actas/busqueda_actas.php
Rewriterule ^vista_previa_busqueda/(.*)/(.*)/(.*)/(.*)$ secretictac/actas/vista_previa_busqueda.php?tipo_acta=$1&id_acta=$2&anyo=$3&busqueda=$4
Rewriterule ^redactar_actas_busqueda/(.*)/(.*)/(.*)/(.*)$ secretictac/actas/nueva_acta.php?tipo_acta=$1&id_acta=$2&div_seleccionado=$3&busqueda=$4
Rewriterule ^convocatorias_actas$ secretictac/actas/convocatoria.php
Rewriterule ^upload_convocatoria$ secretictac/actas/upload_convocatoria.php
Rewriterule ^convocatorias_actas/(.*)/(.*)$ secretictac/actas/convocatoria.php?tipo_acta=$1&id_convocatoria=$2
Rewriterule ^listado_convocatorias$ secretictac/actas/listado_convocatorias.php
Rewriterule ^listado_convocatorias/(.*)$ secretictac/actas/listado_convocatorias.php?anyo=$1
Rewriterule ^vista_previa_convocatoria/(.*)/(.*)$ secretictac/actas/vista_previa_convocatorias.php?tipo_acta=$1&id_convocatoria=$2

#COPIES SEGURETAT
Rewriterule ^copies_seguretat$ secretictac/administrador/copies_seguretat/copies_seguretat.php
Rewriterule ^guardar_ruta$ secretictac/administrador/copies_seguretat/guardar_ruta.php
Rewriterule ^upload_copia$ secretictac/administrador/copies_seguretat/upload_copia.php
Rewriterule ^restaurar_datos$ secretictac/administrador/copies_seguretat/restaurar_datos.php
Rewriterule ^restaurar_documents$ secretictac/administrador/copies_seguretat/restaurar_documents.php


# Evitar escaneos y cualquier intento de manipulación malintencionada
# de la URL. Con esta regla es imposible lanzar ataques de inyección (SQL, XSS, etc)
RewriteCond %{HTTP_USER_AGENT} ^$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^(-|\.|') [OR]
RewriteCond %{HTTP_USER_AGENT} ^(.*)(<|>|%3C|%3E)(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^(java|curl|wget)(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^(.*)(libwww-perl|libwwwperl|snoopy|curl|wget|winhttp|python|nikto|scan|clshttp|archiver|loader|email|harvest|fetch|extract|grab|miner|suck|reaper|leach)(.*) [NC,OR]
 
RewriteCond %{REQUEST_URI} ^(/,|/;|/<|/>|/'|/`|/%2C|/%3C|/%3E|/%27|/////) [NC,OR]
RewriteCond %{HTTP_REFERER} ^(.*)(%00|%08|%09|%0A|%0B|%0C|%0D|%0E|%0F|%2C|<|>|'|%3C|%3E|%26%23|%27|%60)(.*) [NC,OR]
RewriteCond %{QUERY_STRING} ^(.*)(%00|%08|%09|%0A|%0B|%0C|%0D|%0E|%0F|%2C|%3C|%3E|%27|%26%23|%60)(.*) [NC,OR]
RewriteCond %{QUERY_STRING} ^(.*)('|-|<|>|,|/|\\|\.a|\.c|\.t|\.d|\.p|\.i|\.e|\.j)(.*) [NC,OR]
RewriteCond %{HTTP_COOKIE} ^(.*)(<|>|'|%3C|%3E|%27)(.*) [NC]
 
RewriteRule ^(.*)$ error.php [NC] 
ErrorDocument 404 /docges/error/error.html


#evitar acceso a .htaccess
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

## Evitar que se liste el contenido de los directorios 
Options All -Indexes 
 
# Protegerse contra los ataques DOS limitando el tamaño de subida de archivos 
LimitRequestBody 10240000


RewriteBase / 
RewriteCond %{HTTP_USER_AGENT} ^NetSpider [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^Net\ Vampire [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^NetZIP [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^Octopus [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^Offline\ Explorer [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^Offline\ Navigator [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^PageGrabber [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^Papa\ Foto [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^pavuk [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^pcBrowser [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^RealDownload [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^ReGet [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^SiteSnagger [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^SmartDownload [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^Schmozilla [NC,OR]
 RewriteCond %{HTTP_USER_AGENT} ^SuperBot [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^SuperHTTP [NC,OR] 

RewriteCond %{HTTP_USER_AGENT} ^Surfbot [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^tAkeOut [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^Teleport\ Pro [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^VoidEYE [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^Web\ Image\ Collector [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^Web\ Sucker [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^WebAuto [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^WebCopier [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^webcollage [NC,OR]
 RewriteCond %{HTTP_USER_AGENT} ^WebFetch [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^WebGo\ IS [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^WebLeacher [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^WebReaper [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^WebSauger [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^Website\ eXtractor [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^Website\ Quester [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^WebStripper [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^WebWhacker [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^WebZIP [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^Wget [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^Widow [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^WWWOFFLE [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^Xaldon\ WebSpider [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} ^Zeuse [NC] 
RewriteRule ^.*$ - [F]
